body {
    background-color: #d9d9d9
}
.navBG {
    background-color: #2c3e50;
}
#fbBackground {
    background: url(/images/tcBG.jpg) no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.btnWide {
    width: 100%;
}

.txtWide {
    margin-left: 0px;
}

.resultpad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.titlepad {
    padding-top: 20px;
}
.true{
    color:green;
}
.false{
    color:red;
}
.red{
    background-color:red;
    color:white;
}