body {
    background-color: #d9d9d9
}
.btnWide {
    width: 100%;
}

.txtWide {
    margin-left: 0px;
}

.resultpad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.titlepad {
    padding-top: 20px;
}
.true{
    color:green;
}
.false{
    color:red;
}
.red{
    background-color:red;
    color:white;
}